<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="car">
        <div class="car-images">
            {% for i in range(1, num_of_pictures + 1) %}
            <img src="/static/Skelbimu_images/{{ car.Skelbimo_id }}/{{ i }}.jpg" alt="Car Image" class="slide">
            {% endfor %}
        </div>
        <div class="controls">
            <button onclick="prevSlide()">Previous</button>
            <button onclick="nextSlide()">Next</button>
            <button onclick="playSlideshow()" id="playButton">Play</button>
            <button onclick="pauseSlideshow()">Pause</button>
        </div>
        <div class="car-info">
            <h2>{{ car.Marke }} {{ car.Modelis }}</h2>
            <p>Telefono nr: {{ car.Telefono_nr }}</p>
            <p>Miestas: {{ car.Miestas }}</p>
            <p>Kaina: {{ car.Kaina }} €</p>
            <p>Metai: {{ car.Metai }}</p>
            <p>Variklis: {{ car.Variklis }}</p>
            <p>Kebulas: {{ car.Kebulas }}</p>
            <p>Rida: {{ car.Rida }} km</p>
        </div>
    </div>

    <script>
        var slides = document.getElementsByClassName("slide");
        var currentSlide = 0;
        var slideInterval;
        var playButton = document.getElementById("playButton");

        function showSlide(n) {
            for (var i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[n].style.display = "block";
        }

        function nextSlide() {
            currentSlide++;
            if (currentSlide >= slides.length) {
                currentSlide = 0;
            }
            showSlide(currentSlide);
        }

        function prevSlide() {
            currentSlide--;
            if (currentSlide < 0) {
                currentSlide = slides.length - 1;
            }
            showSlide(currentSlide);
        }

        function playSlideshow() {
            slideInterval = setInterval(nextSlide, 2000); // Change slide every 2 seconds (adjust as needed)
            playButton.disabled = true; // Disable the "Play" button
        }

        function pauseSlideshow() {
            clearInterval(slideInterval);
        }

        showSlide(currentSlide); // Show the first slide initially
    </script>
</body>
</html>