<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="cars">
    {% for car in cars %}
    <a href="../cars/{{ car.Skelbimo_id }}">
        <div class="card">
            <img src="/static/Skelbimu_images/{{ car.Skelbimo_id }}/1.jpg" alt="Car Image">
            <h2>{{ car.Marke }} {{ car.Modelis }}</h2>
            <p>Telefono nr: {{ car.Telefono_nr }}</p>
            <p>Miestas: {{ car.Miestas }}</p>
            <p>Kaina: {{ car.Kaina }} €</p>
            <p>Metai: {{ car.Metai }}</p>
            <p>Variklis: {{ car.Variklis }}</p>
            <p>Kebulas: {{ car.Kebulas }}</p>
            <p>Rida: {{ car.Rida }} km</p>
        </div>
    </a>
    {% endfor %}
</body>
</html>