<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div>
        <nav class="nav-bar">
        <div>
            {% if user %}
                <b>Logged in as: {{ user }}</b>
            {% endif %}
        </div>
            <a href="/" class="home"><h2>Home</h2></a>
            <a href="/users/">View User</a>
            <a href="/store/">Store</a>
            <a href="/logout/">Logout</a>
        </nav>
    </div>
</body>
</html>

