<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>
<body class="login-page">
    <div class="login">
            <form method="post" action="/login_form" id="loginForm">
                <label class="space" for="username">EMAIL</label>
                <input type="text" id="username" name="username" required>
                <label for="password">PASSWORD</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Login</button>
            </form>
    </div>
    <script>
        document.getElementById("loginForm").addEventListener("submit", async function(event) {
            event.preventDefault();
            const response = await fetch("/login_form", {
                method: "POST",
                body: new FormData(this)
            });
            if (response.status === 403) {
                const data = await response.json();
                const detail = data.detail;
                alert(detail);
            }
            if (response.status === 200) {
                window.location.href = "/";
            }
        });
    </script>
</body>
</html>
