<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
</head>
<body class="register-page">
    <div class="register">
        <form method="post" action="/register" id="registerForm">
            <label for="email">EMAIL</label>
            <input type="email" id="email" name="email" required>
            <label for="password">PASSWORD</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Register</button>
        </form>
    </div>

    <script src="../static/scripts/scripts_register.js"></script>
    </body>
    </html>
