<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div>
        <nav class="nav-bar">
            {% if current_user %}
                <b>Logged in as: {{ current_user.email }}</b>
                {% if current_user.credits %}
                    <b>Balance: {{ current_user.credits }} credits</b>
                {% else %}
                    <b>Balance: 0 credits</b>
                {% endif %}
            {% endif %}
            <a href="/" class="home"><h2>Home</h2></a>
            <a href="/users/">View User</a>
            <a href="/store/">Store</a>
            <a href="/logout/">Logout</a>
        </nav>  
        <div class="store">
            
            {% for package in packages %}
                <div class="package">
                    <h2>{{ package.name }}</h2>
                    <p>{{ package.price }}</p>
                    {% if package in current_user.advert_packages %}
                        <p>Already Owned</p>
                    {% else %}
                        <form method="post" action="/store/{{ package.id }}" onsubmit="event.preventDefault(); buyPackage(event)">
                            <input type="hidden" name="package_id" value="{{ package.id }}">
                            <button type="submit" id="buyButton">BUY PACKAGE</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        <div class="creditstore">
            <form method="post" action="./buycredits/" onsubmit="event.preventDefault(); buyCredits(event)">
                <select name="credits">
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="5000">5000</option>
                </select>
                <button type="submit">Buy Credits</button>
            </form>
        </div>
            <script>
                async function buyCredits(event) {
                    let form = event.target;
                    let formData = new FormData(form);
                    let url = form.action;
                    let request = new Request(url, {
                        method: 'POST',
                        body: formData
                    });
                    try {
                        const response = await fetch(request);
                        if (response.status === 200) {
                            const data = await response.json();
                            console.log(data.message);
                        }
                        location.reload();
                    } catch (error) {
                        console.log(error);
                    }
                }
                async function buyPackage(event) {
                    let form = event.target;
                    let formData = new FormData(form);
                    let packageId = formData.get('package_id');
                    let buyButton = document.getElementById('buyButton');
                    let url = `/store/${packageId}`;
                    let request = new Request(url, {
                        method: 'POST',
                        body: formData
                    });
                    try {
                        const response = await fetch(request);
                        if (response.status === 403) {
                            alert("You don't have enough credits.");
                        } else {
                            const data = await response.json();
                            console.log(data);
                            if (data.message == "Package bought successfully") {
                                buyButton.remove();
                                let p = document.createElement('p');
                                p.innerText = "Already Owned";
                                form.appendChild(p);
                            }
                            location.reload(); // Refresh the page
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>
