<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            {% if current_user %}
                <b>Logged in as: {{ current_user.email }}</b>
                <b>Balance: {{ current_user.credits }} credits</b>
            {% endif %}
            <a href="/" class="home"><h2>Home</h2></a>
            <a href="/users/">View User</a>
            <a href="/store/">Store</a>
            <a href="../store/buycredits/">Buy Credits</a>
            <a href="/logout/">Logout</a>
        </nav>  
    </header>
    <div class="user">
        <h2>Owned Packages:</h2>
        <li>
            {% for package in packages %}
            <p>Model: <a href="../cars/?car_make={{ package.name }}">{{ package.name }} </p></a>
            {% endfor %}
        </li>
        <a href="/change_password/">Change Password</a>   
    </div>
</body>
</html>
