<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<header>
    <nav class="nav-bar">
        {% if current_user %}
            <p>Logged in as: {{ current_user.email }}</p>
            <p>Balance: {{ current_user.credits }}</p>
        {% endif %}
        <a href="/" class="home"><h2>Home</h2></a>
        <a href="/users/">View User</a>
        <a href="/store/">Store</a>
        <a href="/logout/">Logout</a>
    </nav>  
</header>
<body>
    <h2>Owned Packages:</h2>
    {% for package in packages %}
        <li>
            Model: {{ package.name }}
        </li>
        {% endfor %}
    <a href="/change_password/">Change Password</a>
</body>
</html>
