<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<header>
    <nav class="nav-bar">
        <a href="/"><h2>Home</h2></a>
        <a href="/users">View User</a>
        <a href="/store">Store</a>
        <a href="/change_password">change_password</a>
        <a href="/logout">Logout</a>
    </nav>  
</header>
<body>
    <h1>Owned Packages</h1>
    {% for package in packages %}
    <li>
        <p>Model: {{ package.name }}</p>
    </li>
        {% endfor %}
</body>
</html>
